.jumbotron.feed-top{
  padding-bottom:0px;
}
span.badge{
  cursor:pointer;
}

ul{
  &.feed-items{
    padding:0px;
    li{
      padding:.666em;
      list-style: none;
      &:nth-child(even){
        background-color: #EEE;
      }
      span.badge{
        float:right;
        margin-bottom:10px;
      }
      &.no-items{
        border-width: 2px;
        border-style: dashed;
      }
    }
    &#sortable-source{
      span.badge{
        display:none;
      }
    }
  }
  &.hide-info{
    li{
      table{
        tbody{
          tr.success{
            display:none;
          }
        }
      }
    }
  }
}
.dropdown{
  button{
    width:100%;
    margin-bottom:15px;
  }
  ul.dropdown-menu{
    width:100%;
    li{
/*
      a{
        float:left;
      }
       span.badge{
        float: right;
        position: relative;
        //top: -23px;
        left:-5px;
      }
*/
      &.divider{
        width:100%;
      }
    }
  }
}
